﻿@using CSSD.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Penerimaan Barang</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />
                        <input type="hidden" name="Supplier_ID" />
                        <input type="hidden" name="OrderId" />

                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="content-group">
                                    <legend class="text-bold">Penerimaan</legend>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Penerimaan</label>
                                        <div class="col-md-9">
                                            <input type="text" name="NoPenerimaan" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tanggal</label>
                                        <div class="col-md-9">
                                            <input type="date" required name="Tgl_Penerimaan" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="content-group">
                                    <legend class="text-bold">Order</legend>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No PO</label>
                                        <div class="col-md-9">
                                            <input type="text" name="No_Order" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Kode Supplier</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" required name="Kode_Supplier" class="form-control" />
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-primary view-disabled" onclick="modallookupsupplier.openmodal()"><i class="icon-search4"></i></button>
                                                </div>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default view-disabled" onclick="modallookupsupplier.clear()"><i class="icon-eraser2"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nama Supplier</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Nama_Supplier" class="form-control all-readonly" required />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="content-group">
                                    <legend class="text-bold">Lokasi</legend>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Lokasi</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Nama_Lokasi" class="form-control all-readonly" />
                                            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No DO</label>
                                        <div class="col-md-9">
                                            <input type="text" name="NoDO" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Jatuh Tempo</label>
                                        <div class="col-md-9">
                                            <input type="date" required name="Tgl_JatuhTempo" class="form-control" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td class="text-center">Qty PO</td>
                                                <td class="text-center">Tlh Terima</td>
                                                <td class="text-center" style="min-width: 80px;">Qty Terima</td>
                                                <td class="text-right">Harga</td>
                                                <td class="text-right">Disc%</td>
                                                <td class="text-right">Jumlah</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Remak</label>
                                    <div class="col-md-9">
                                        <textarea name="Remak" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="SubTotal" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Grand Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="GrandTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoPenerimaan'].value = r.Data.Id;
                    t['Tgl_Penerimaan'].value = r.Data.Tgl_Penerimaan;
                    t['No_Order'].value = r.Data.No_Order;
                    t['Kode_Supplier'].value = r.Data.Kode_Supplier;
                    t['Nama_Supplier'].value = r.Data.Nama_Supplier;
                    t['Nama_Lokasi'].value = r.Data.Nama_Lokasi;
                    t['NoDO'].value = r.Data.No_Order;
                    t['Tgl_JatuhTempo'].value = r.Data.Tgl_JatuhTempo;
                    t['Remak'].value = r.Data.Remak;
                    t['GrandTotal'].value = r.Data.GrandTotal;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Barang_ID,
                            value.Kode_Barang,
                            value.Nama_Barang,
                            value.Satuan_Stok,
                            value.Qty_TT,
                            value.QtyBeli,
                            value.Tlh_Diterima,
                            value.Harga_Beli,
                            value.Diskon_1,
                            true
                        );
                    });

                    isetup.init();
                    if (t['_PROCESS'].value === 'EDIT') {
                        $(t['Tgl_Penerimaan']).attr('readonly', 'readonly');
                        $(t['Nama_Lokasi']).attr('disabled', 'disabled');
                        $(t['Kepada']).attr('disabled', 'disabled');
                    }
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,
                        Penerimaan_ID: t['Id'].value,
                        Tanggal: t['Tgl_Penerimaan'].value,  
                        Keterangan: t['Remak'].value,
                        No_DO: t['NoDO'].value,
                        Kode_Supplier: t['Kode_Supplier'].value,
                        No_TT: t['OrderId'].value,
                        Total_Nilai: getfloatfromcurrency(t['GrandTotal'].value),
                        No_TT: t['OrderId'].value,
                        Lokasi_ID: t['Nama_Lokasi'].value,
                        Tgl_JatuhTempo: t['Tgl_JatuhTempo'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Barang_ID: $(value).find('.Barang_ID').val(),
                                Kode_Barang: $(value).find('.Kode_Barang').val(),
                                Kode_Satuan: $(value).data('id'),
                                Diskon_Rp: $(value).data('id'),
                                Penerimaan_ID: $(value).data('id'),
                                Qty_TT: $(value).data('id'),
                                Tlh_Diterima: $(value).data('id'),
                                Qty_Penerimaan: $(value).find('.Qty').val(),
                                Harga_Beli: isetup.cleave_detail_harga.find(x => x.id === $(value).data('id')).clave.getRawValue(),
                                Diskon_1 : $(value).find('.Disc').val(),
                                TanggalExp: $(value).find('.TglExp').val(),

                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                $.ajax({
                    url: '@Url.Action("DetailOrder")',
                    type: 'POST',
                    data: param,
                    success: function (r) {
                        r = JSON.parse(r);
                        if (r.IsSuccess) {
                            isetup.init();
                            $(isetup.form).find('.input-detail tbody').html('');                        
                            isetup.form['Tgl_Penerimaan'].value = formatdate(new Date());
                            isetup.form['No_Order'].value = r.Data.No_Order;
                            isetup.form['Nama_Lokasi'].value = '@Request.Cookies["CSSD_Section_LokasiId"].Value';
                            isetup.form['Kode_Supplier'].value = r.Data.Kode_Supplier;
                            isetup.form['Nama_Supplier'].value = r.Data.Nama_Supplier;

                            $(isetup.form['Nama_Lokasi']).trigger('change');

                            $(t).find('.input-detail tbody').html('');
                            $.each(r.Detail, function (index, value) {
                                isetup.adddetailbody(
                                    value.Id,
                                    value.Barang_ID,
                                    value.Kode_Barang,
                                    value.Kode_Barang,
                                    value.Nama_Barang,
                                    value.Satuan_Stok,
                                    value.Qty_TT,
                                    value.QtyBeli,
                                    value.Tlh_Diterima,
                                    value.Harga_Beli,
                                    0
                                );
                            });
                        } else {
                            alerterror(r.Message);
                            isetup.modal.modal('hide');
                        }
                    },
                    error: function (xhr) { alerterror(xhr); isetup.modal.modal('hide'); },
                    beforeSend: function () { loading(true); },
                    complete: function () { loading(false); }
                });
            }
        });

        //$(isetup.form['Nama_Lokasi']).select2();
        isetup.cleave_detail_harga = [];

        isetup.adddetailbody = (id, barang_id, kode_barang, nama_barang, satuan_stok, qty_tt, qty_beli, qtyterima, harga_beli, disc, lockharga) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + kode_barang + '"]').length) {
                alerterror(nama_barang + ' sudah ada');
                return;
            }

            const jum = harga_beli * (qtyterima || 0);
            const diskon = jum / 100 * disc;
            const jumlah = jum - diskon;

            var _detail = '';
            _detail += '<tr data-id="' + id + '">';

            // input
            _detail += '<td class="hidden"><input type="text" class="form-control Barang_ID" value="' + barang_id +'"/></td>';
            _detail += '<td><input type="text" class="form-control Kode_Barang " value="' + kode_barang +'"/></td>';
            _detail += '<td><input type="text" class="form-control NamaBarang" value="' + nama_barang +'"/></td>';
            _detail += '<td><input type="text" class="form-control Satuan_Stok" value="' + satuan_stok +'"/></td>';
            _detail += '<td class="td-text text-center Qty_TT">' + (qty_tt || 0) + '</td>';
            _detail += '<td class="td-text text-center QtyBeli">' + (qty_beli || 0) + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="' + qtyterima  + '" /></td>';
            _detail += '<td><input type="text" onchange="isetup.hitungjumlah(this)" class="form-control text-right Harga_Beli ' + (lockharga ? 'all-readonly' : '') + '" step="any" min="0" value="' + harga_beli + '" /></td>';
            //_detail += '<td class="td-text text-right Harga_Beli">' + getcurrencyfromfloat(harga) + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-center Disc" step="any" min="0" max="100" value="' + disc + '" /></td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(jumlah) || 0) + '</td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga_Beli').last();
            isetup.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                })
            });
            isetup.hitungtotal();
        };

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qty = parseFloat(tr.find('.Qty').val());
            const disc = parseFloat(tr.find('.Disc').val());
            const harga = parseFloat(isetup.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());
            const jum = harga * qty;
            const diskon = jum / 100 * (disc || 0);
            const jumlah = jum - diskon;
            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah) || 0);
            isetup.hitungtotal();
        }

        isetup.hitungtotal = () => {
            let subtotal = 0;
            $.map($(isetup.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                subtotal += nilai;
            });
            subtotal = parseFloat(subtotal);
 
            const grandtotal = subtotal  ;

     
            isetup.form['SubTotal'].value = getcurrencyfromfloat(subtotal) || 0;
            isetup.form['GrandTotal'].value = getcurrencyfromfloat(grandtotal) || 0;
        }
    });
</script>