﻿<style>
    #modallookupsupplier table td,
    #modallookupsupplier table th {
        white-space: nowrap;
    }
</style>
<div id="modallookupsupplier" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dokter</h4>
            </div>
            <form id="lookupsupplier">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input type="search" class="form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </div>
                            <div class="form-group hide">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookupsupplier.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting hidden" data-itable-sorting="SupplierID">Kode Supplier<i></i></th>
                                    <th class="sorting" data-itable-sorting="Kode_Supplier">Kode Supplier<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Supplier">Nama Supplier<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupsupplier.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupsupplier;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupsupplier = new iTable({
            url: '@Url.Action("ListLookupSupplier")',
            table: document.getElementById('lookupsupplier'),
            orderby: 'Supplier_ID',
            orderbytype: true,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="9" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupsupplier.detailactive(this)">';

                        // column
                        
                        tbody += '<td>' + value.Kode_Supplier + '</td>';
                        tbody += '<td>' + value.Nama_Supplier + '</td>';
                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itablelookupsupplier.openmodal = function(t) {
            itablelookupsupplier.refresh();
            $('#modallookupsupplier').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupsupplier').css('z-index') - 1);
        }

        itablelookupsupplier.clear = () => {
            isetup.form['SupplierID'].value = '';
            isetup.form['Kode_Supplier'].value = '';
            isetup.form['Nama_Supplier'].value = '';
        };

        itablelookupsupplier.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablelookupsupplier.selected(t);
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablelookupsupplier.selected = function(t) {
            var model = JSON.parse($(t).closest('.modal').find('table tbody tr.bg-primary').data('model'));
            isetup.form['SupplierID'].value = model.SupplierID;
            isetup.form['Kode_Supplier'].value = model.Kode_Supplier;
            isetup.form['Nama_Supplier'].value = model.Nama_Supplier;
            $(t).closest('.modal').modal('hide');
        }

        $('#modallookupsupplier').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>