﻿@{
    ViewBag.Title = "Setup Kontrak Vendor";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-plus" href="javascript:isetup.opensetup('CREATE')"></a></li>
                    <li><a class="panel-action action-reload" href="javascript:itable.refresh()"></a></li>
                </ul>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <div class="dataTables_filter">
                    <label>
                        <span>Filter:</span>
                        <input type="search" onchange="itable.pageindex=0" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                    </label>
                </div>
                <div class="dataTables_length">
                    <label>
                        <span>Show:</span>
                        <select class="form-control itable-pagesize" style="width: auto;">
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th class="sorting hidden" data-itable-sorting="BarangID" style="width:100px;"><i></i></th>
                            <th class="sorting" data-itable-sorting="Kode_Item" style="width:100px;">Kode Item<i></i></th>
                            <th class="sorting" data-itable-sorting="Nama_Item" style="width:100px;">Nama Item<i></i></th>
                            <th class="sorting" data-itable-sorting="Kode_Supplier" style="width:100px;">Kode Supplier <i></i></th>
                            <th class="sorting" data-itable-sorting="Nama_Supplier" style="width:100px;">Nama Supplier<i></i></th>
                            <th class="sorting" data-itable-sorting="Harga" style="width:100px;">Harga Kontrak<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'Kode_Item',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="6" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="odd">';

                        // column
                        tbody += '<td>' + value.Kode_Item + '</td>';
                        tbody += '<td>' + value.Nama_Item + '</td>';
                        tbody += '<td>' + value.Kode_Supplier + '</td>';
                        tbody += '<td>' + value.Supplier_Nama_Supplier + '</td>';
                        tbody += `<td class='text-right'>${getcurrencyfromfloat(value.Harga)}</td>`;

                       

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        tbody += '<li><a href="javascript:isetup.opensetup(\'EDIT\',{ id : \'' + value.Kode_Item + '\'})"><i class="icon-pencil"></i> Edit</a></li>';
                        tbody += '<li><a href="javascript:isetup.opensetup(\'DELETE\',{ id : \'' + value.Kode_Item + '\'})"><i class="icon-trash"></i> Delete</a></li>';

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });
        itable.refresh();
        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['periode'].value = $('#formtable [data-itable-filter="PeriodeStart"]')[0].value;
            f['sampai'].value = $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value;
            f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="PeriodeStart"]')[0].value = f['periode'].value;
            $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value = f['sampai'].value;
            $('#formtable .itable-pagesize')[0].value = f['show'].value;
            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }
    });
</script>
@Html.Partial("Setup")
@Html.Partial("_LookUpBarang")
@Html.Partial("_LookUpSupplier")
