﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Header")
    <style>
        .app-name {
            font-size: 18px;
            font-weight: bolder;
            letter-spacing: 3px;
            text-align: center;
        }

        .navbar-brand {
            width: 100%;
            padding: 13px;
        }
    </style>
</head>

@{
    var sidebar = Request.Cookies["sidebar"] == null ? false : bool.Parse(Request.Cookies["sidebar"].Value);
    var sectionname = Request.Cookies["CSSD_Section_Name"] == null ? "" : Request.Cookies["CSSD_Section_Name"].Value;
}

<body class="@(sidebar ? "" : "sidebar-xs")">
    <div class="navbar navbar-inverse">

        <div class="navbar-header">
            <a class="navbar-brand text-center" href="@Url.Action("Index", "Home")">
                <span class="app-name">CSSD</span>
                @*<img src="~/Themes/assets/images/logo_light.png" />*@
            </a>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>

        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav">
                    <li><a class="sidebar-control sidebar-main-toggle hidden-xs" onclick="sidebartoggleclick()"><i class="icon-paragraph-justify3"></i></a></li>
                </ul>
                if (!string.IsNullOrEmpty(sectionname))
                {
                    <p class="navbar-text"><span class="label bg-success">@sectionname</span></p>
                }
            }

            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="page-container">
        <div class="page-content">

            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_Menu")
            }

            <div class="content-wrapper">
                <div class="page-header page-header-default">
                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("Index", "Home")"><i class="icon-home2 position-left"></i> Home</a></li>
                            @if (ViewBag.breadcrumb != null)
                            {
                                foreach (var i in (List<SelectListItem>)ViewBag.breadcrumb)
                                {
                                    if (i.Value == "active")
                                    {
                                        <li class="active">@i.Text</li>
                                    }
                                    else
                                    {
                                        <li><a href="@i.Value">@i.Text</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="content">

                    @RenderBody()

                    <div class="footer text-muted">
                        © 2020. @CSSD.Helper.ConfigModel.AppName by <a href="https://www.sanatasystem.net/" target="_blank">Sanata System</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @Html.Partial("_Footer")
    @RenderSection("scripts", required: false)
</body>
</html>
