﻿@using CSSD.Helper

<style>
    #modalsetuppr .input-detail td {
        white-space: nowrap;
    }
</style>

<div id="modalsetuppr" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Purchase Request</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="NoBukti" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Permintaan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoPermintaan" class="form-control all-disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="date" required name="Tanggal" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Gudang</label>
                                    <div class="col-md-9">
                                        <select name="Gudang" required class="all-disabled">@Html.Raw(HList.AmprahanKepada)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tgl Dibutuhkan</label>
                                    <div class="col-md-9">
                                        <input type="date" name="TanggalDibutuhkan" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">KelompokPR</label>
                                    <div class="col-md-9">
                                        <select name="KelompokPR" required>@Html.Raw(HList.AmprahanKelompokPR)</select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail barangpr">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td>Kode</td>
                                                <td>Nama Barang</td>
                                                <td class="text-center">Konversi</td>
                                                <td>Kategori</td>
                                                <td>Satuan</td>
                                                <td class="text-center">Min Stok</td>
                                                <td class="text-center">Max Stok</td>
                                                <td class="text-center">Qty System</td>
                                                <td style="min-width:80px;" class="text-center">Qty</td>
                                                <td style="min-width:100px;" class="text-right">Harga</td>
                                                <td class="text-right">Jumlah</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Keterangan" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Total" class="form-control text-right all-disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetuppr;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetuppr = new iSetup({
            modal: 'modalsetuppr',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetuppr.form;

                    // value
                    t['NoBukti'].value = r.Data.NoBukti;
                    isetuppr.form['Tanggal'].value = formatdate(new Date());
                    isetuppr.form['Gudang'].value = '@Request.Cookies["CSSD_Section_Id"].Value';

                    // detail
                    $(t).find('.barangpr tbody').html('');
                    isetuppr.cleave_detail_harga = [];
                    $.each(r.Detail, function (index, value) {
                        //id, kode, nama, konversi, kategori, satuan, minstok, maxstok, qtysystem, qty, harga
                        isetuppr.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Deskripsi,
                            value.Konversi,
                            value.Kategori,
                            value.Satuan,
                            value.MinQty,
                            value.MaxQty,
                            value.QtyStok,
                            value.Qty,
                            value.Harga
                        );
                    });

                    isetuppr.init();
                    isetuppr.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetuppr.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        NoBukti: t['NoBukti'].value,
                        Tanggal: t['Tanggal'].value,
                        Gudang: $(t['Gudang']).find('option:selected').data('lokasi'),
                        KelompokPR: t['KelompokPR'].value,
                        Keterangan: t['Keterangan'].value,
                        TanggalDibutuhkan: t['TanggalDibutuhkan'].value,
                        Detail: $.map($(t).find('.barangpr tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Harga: isetuppr.cleave_detail_harga.find(x => x.id === $(value).data('id')).clave.getRawValue(),
                                Qty : $(value).find('.Qty').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetuppr.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetuppr.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                isetuppr.init();
                $(isetuppr.form).find('.barangpr tbody').html('');
            }
        });

        $(isetuppr.form['Gudang']).select2();
        $(isetuppr.form['KelompokPR']).select2();

        isetuppr.customeremovedetail = (t, id) => {
            removedetail(t);
            isetuppr.cleave_detail_harga = isetuppr.cleave_detail_harga.filter(x => x.id !== id);
        };

        isetuppr.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qty = parseFloat(tr.find('.Qty').val());
            const harga = parseFloat(isetuppr.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());
            const jumlah = harga * qty;
            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah));
            isetuppr.hitungtotal();
        }

        isetuppr.hitungtotal = () => {
            let total = 0;
            $.map($(isetuppr.form).find('.barangpr tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                total += nilai;
            });
            isetuppr.form['Total'].value = getcurrencyfromfloat(total);
        }

        isetuppr.adddetailbody = (id, kode, nama, konversi, kategori, satuan, minstok, maxstok, qtysystem, qty, harga) => {
            if ($(isetuppr.form).find('.barangpr tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetuppr.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text text-center">' + konversi + '</td>';
            _detail += '<td class="td-text">' + kategori + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="td-text text-center">' + minstok + '</td>';
            _detail += '<td class="td-text text-center">' + maxstok + '</td>';
            _detail += '<td class="td-text text-center">' + (qtysystem || 0) + '</td>';
            _detail += '<td><input type="number" onchange="isetuppr.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="' + qty + '" /></td>';
            _detail += '<td><input type="text" onchange="isetuppr.hitungjumlah(this)" class="form-control text-right Harga" step="any" min="0" value="' + harga + '" /></td>';
            _detail += '<td class="td-text text-right Jumlah">' + getcurrencyfromfloat(qty * harga) + '</td>';

            _detail += '</tr>';
            $(isetuppr.form).find('.barangpr tbody').append(_detail);
            const _inputharga = $(isetuppr.form).find('tbody tr:last-child .Harga').last();
            isetuppr.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                })
            });
            isetuppr.hitungtotal();
        };

        isetuppr.cleave_detail_harga = [];
    });
</script>