﻿@using CSSD.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mutasi Linen Ke Section</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoBukti" class="form-control all-disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="date" required name="Tanggal" class="form-control" />
                                    </div>
                                </div>
                                <fieldset class="content-group">
                                    <legend class="text-bold">Amprahan</legend>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Amprahan</label>
                                        <div class="col-md-9">
                                            <input type="text" name="NoAmprahan" class="form-control all-disabled" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tanggal</label>
                                        <div class="col-md-9">
                                            <input type="date" name="TanggalAmprahan" class="form-control all-disabled" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Section</label>
                                        <div class="col-md-9">
                                            <input type="text" name="SectionAmprahan" class="form-control all-disabled" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Mutasi Dari</label>
                                    <div class="col-md-9">
                                        <input type="text" name="MutasiDariNama" class="form-control all-disabled" />
                                        <input type="text" name="MutasiDari" class="form-control all-disabled hidden" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <textarea name="Keterangan" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td>Kategori</td>
                                                <td class="text-center">Konversi</td>
                                                <td class="text-center">Qty Stok</td>
                                                <td class="text-center">Qty Amprah</td>
                                                <td class="text-center" style="min-width: 80px;">Qty</td>
                                                <td class="text-right">Harga</td>
                                                <td class="text-center">Kode Akun</td>
                                                <td>Nama Akun Mutasi</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoBukti'].value = r.Data.NoBukti;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['MutasiDari'].value = r.Data.MutasiDari;
                    t['NoAmprahan'].value = r.Data.NoAmprahan;
                    t['TanggalAmprahan'].value = r.Data.TanggalAmprahan;
                    t['SectionAmprahan'].value = r.Data.SectionAmprahan;
                    t['Keterangan'].value = r.Data.Keterangan;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Deskripsi,
                            value.Satuan,
                            value.Kategori,
                            value.Konversi,
                            value.Stok,
                            value.Amprahan,
                            value.Qty,
                            value.Harga,
                            value.KodeAkun,
                            value.NamaAkunMutasi
                        );
                    });

                    isetup.init();

                    if (t['_PROCESS'].value === 'EDIT') {
                        $(t['Tanggal']).attr('readonly', 'readonly');
                        $(t['DariSection']).attr('disabled', 'disabled');
                        $(t['Kepada']).attr('disabled', 'disabled');
                    }
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Tanggal: t['Tanggal'].value,
                        MutasiDari: t['MutasiDari'].value,
                        NoAmprahan: t['NoAmprahan'].value,
                        Keterangan: t['Keterangan'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Qty : $(value).find('.Qty').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                $.ajax({
                    url: '@Url.Action("DetailAmprahan")',
                    type: 'POST',
                    data: param,
                    success: function (r) {
                        r = JSON.parse(r);
                        if (r.IsSuccess) {
                            isetup.init();
                            $(isetup.form).find('.input-detail tbody').html('');

                            isetup.form['Tanggal'].value = formatdate(new Date());
                            isetup.form['MutasiDari'].value = '@Request.Cookies["CSSD_Section_LokasiId"].Value';
                            isetup.form['MutasiDariNama'].value = '@Request.Cookies["CSSD_Section_Name"].Value';
                            isetup.form['NoAmprahan'].value = r.Data.NoBukti;
                            isetup.form['TanggalAmprahan'].value = r.Data.Tanggal;
                            isetup.form['SectionAmprahan'].value = r.Data.DariSectionNama;
                            $(isetup.form['MutasiDari']).trigger('change');

                            $(t).find('.input-detail tbody').html('');
                            $.each(r.Detail, function (index, value) {
                                isetup.adddetailbody(
                                    value.Id,
                                    value.Kode,
                                    value.Deskripsi,
                                    value.Satuan,
                                    value.Kategori,
                                    value.Konversi,
                                    value.QtyStok,
                                    value.Qty,
                                    value.Qty,
                                    value.Harga,
                                    value.KodeAkun,
                                    value.NamaAkunMutasi
                                );
                            });
                        } else {
                            alerterror(r.Message);
                            isetup.modal.modal('hide');
                        }
                    },
                    error: function (xhr) { alerterror(xhr); isetup.modal.modal('hide'); },
                    beforeSend: function () { loading(true); },
                    complete: function () { loading(false); }
                });
            }
        });

        

        isetup.adddetailbody = (id, kode, nama, satuan, kategori, konversi, qtystok, qtyamprah, qty, harga, kodeakun, namaakun) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            var _detail = '';
            _detail += '<tr data-id="' + id + '">';

            // input
            //, , , , , , , , namaakun
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="td-text">' + kategori + '</td>';
            _detail += '<td class="td-text text-center">' + konversi + '</td>';
            _detail += '<td class="td-text text-center">' + (qtystok || 0) + '</td>';
            _detail += '<td class="td-text text-center">' + qtyamprah + '</td>';
            _detail += '<td><input type="number" class="form-control text-right Qty" step="any" min="0" value="' + qty + '" /></td>';
            _detail += '<td class="td-text text-right">' + getcurrencyfromfloat(harga) + '</td>';
            _detail += '<td class="td-text text-center">' + kodeakun + '</td>';
            _detail += '<td class="td-text">' + namaakun + '</td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
        };
    });
</script>