﻿@{
    ViewBag.Title = "Cancel Posting";
    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using CSSD.Helper
@using Microsoft.AspNet.Identity

<style>
    #formtable tbody tr{
        cursor:pointer;
    }
    #formtable table th,
    #formtable table td {
        white-space: nowrap;
    }
</style>

<div class="panel panel-flat" id="formtable">
    <div class="dataTables_wrapper no-footer" style="display: block;">
        <form onsubmit="refreshdata(event)">
            <div class="datatable-header" style="padding-bottom: 20px;">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" name="start" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))">
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" name="end" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="icon-search4"></i></button>
                    @*<div class="form-group">
                        <label>Filter</label>
                        <input type="search" onchange="itable.pageindex=0" data-itable-filter="All" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Show</label>
                        <select class="form-control itable-pagesize" onchange="itable.refresh()" style="width: auto;">
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>*@
                </div>
            </div>
        </form>
        <div class="datatable-scroll">
            <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                <thead>
                    <tr>
                        <th style="width: 100px;">No Transaksi</th>
                        <th style="width: 100px;" class="text-center">Tanggal</th>
                        <th style="width: 150px;">Section</th>
                        <th style="width: 150px;" class="text-right">Nilai</th>
                        <th>Keterangan</th>
                    </tr>
                </thead>
                <tbody id="inputtbody"></tbody>
            </table>
        </div>
        <div class="datatable-footer text-right">
            <div class="form-group">
                <button type="button" onclick="checkallonclick()" class="btn btn-default pull-left"><i class="icon-check"></i> CHECK ALL</button>
                <button type="button" onclick="updateonclick()" class="btn btn-primary"><i class="icon-floppy-disk"></i> POSTING</button>
            </div>
        </div>
    </div>
</div>

<script>
    const refreshdata = (e) => {
        e.preventDefault();
        $.ajax({
            url: '@Url.Action("List")',
            type: 'POST',
            orderby: 'No_Penerimaan',
            data: {
                start: e.target.start.value,
                end: e.target.end.value
            },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    $('#inputtbody').html('');
                    r.Data.forEach(x => {
                        _r = '<tr data-id="' + x.NoTransaksi + '" onclick="detailonclick(this)">';
                        _r += '<td>' + x.NoTransaksi + '</td>';
                        _r += '<td class="text-center">' + x.Tanggal + '</td>';
                        _r += '<td>' + x.Section + '</td>';
                        _r += '<td class="text-right">' + (getcurrencyfromfloat(x.Nilai) || 0) + '</td>';
                        _r += '<td>' + x.Keterangan + '</td>';
                        _r += '</tr>';
                        $('#inputtbody').append(_r);
                    });
                } else {
                    alerterror(r.Message);
                }
            },
            error: function (xhr) { alerterror(xhr); },
            beforeSend: function () { loading(true); },
            complete: function () { loading(false); }
        });
    };

    const detailonclick = (t) => {
        if ($(t).hasClass('bg-primary')) {
            $(t).removeClass('bg-primary');
        } else {
            $(t).addClass('bg-primary');
        }
    };

    const checkallonclick = () => {
        $('#inputtbody tr:not(.bg-primary)').addClass('bg-primary');
    };

    const updateonclick = () => {
        let data = [];
        $.each($('#inputtbody tr.bg-primary'), (i, v) => {
            data.push({
                No_Faktur: $(v).data('id'),
            });
        });
        $.ajax({
            url: '@Url.Action("Save")',
            type: 'POST',
            data: { model: data },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    $('#inputtbody').html('');
                } else {
                    alerterror(r.Message);
                }
            },
            error: function (xhr) { alerterror(xhr); },
            beforeSend: function () { loading(true); },
            complete: function () { loading(false); }
        });
    };
</script>